@font-face {
  font-family: "SNFC";
  src: url(/src/fonts/9651.ttf);
}

* {
  box-sizing: border-box;
}


html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: $color--background;
  font-family: "SNFC", sans-serif;
}